# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Build
build/
dist/
installer_output/
*.spec

# IDEs
.vscode/
.idea/
.pyre/
.pyright/

# Database
database/*.db
database/*.sqlite

# Logs
*.log
